/* 
 * Koffee UI
 * Version: 0.5.15
 */

/* 
 * All colours MUST be strictly following root colours 
 * Default font used: Inter Tight
 */

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Root colours */
    --border: #e1e1e1;
    --default: #f6f6f6;
    --danger: #c23232;
    --black: #0d0d0d;
    --white: #fff;

    /* Box shadows */
    --bs: rgba(99, 99, 99, 0.08) 0px 2px 8px 0px;

    /* Border radius */
    --radiusdefault: .395rem;

    /* Padding */
    --paddingdefault: .77rem 1.22rem;
}

body {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: "Inter Tight", sans-serif !important;
    overflow-x: hidden;
}

/* Default font size for tags .9rem */
/* Add more as required */
header, footer, aside, nav, ul, ol, li, a, 
p, div, span, label, input {
    font-size: .9rem;
    letter-spacing: .03rem;
}
 
/* Buttons */
.btn {
    background-color: #fff;
    border: none;
    padding: .77rem 1.22rem;
    cursor: pointer !important;
    border-radius: var(--radiusdefault);
    font-weight: 300 !important;
    letter-spacing: .03rem;
    transition: .1s ease;
    margin-left: 5px;
    margin-right: 5px;
    font-size: .85rem !important;
    /* box-shadow: var(--bs) !important; */
}
.btn-sm {
    padding: .55rem .6rem;
}
.btn-plain {
    color: var(--black);
    background-color: var(--default);
}
.btn-plain:hover {
    background-color: var(--default);
}
.btn-plain:active {
    background-color: #f0f0f0;
}
.btn-default {
    border: 1px solid var(--border);
    background-color: var(--white);
    transition: .25s ease;
    color: var(--black);
}
.btn-default:hover {
    background-color: #e9e9e9;
}
.btn-default:active {
    background-color: #e0e0e0;
}
.btn-black {
    border: 1px solid var(--black);
    background-color: var(--black);
    color: var(--white);
}
.btn-black:hover {
    opacity: 0.85;
}
.btn-black:active {
    opacity: 1;
}

/* Texts */
.text-black {
    color: var(--black);
}
.text-secondary {
    color: var(--border);
}
.text-danger {
    color: var(--danger);
}

/* Utilities */
/* Rounded */
.rounded-max {
    border-radius: 10rem;
}
/* Underline style in links are removed by default */
a {
    text-decoration: none;
    cursor: pointer;
}
/* Cursor */
.cursor-pointer {
    cursor: pointer;
}
.cursor-not-allowed {
    cursor: not-allowed;
}
/* Floats */
.float-left {
    float: left;
}
.float-right {
    float: right;
}
/* Text */
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
/* This probably needs some work :) */
.mx-auto{
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
    text-align: center;
    justify-content: center;
}
/* Display */
.flex {
    display: flex !important;
}
.block {
    display: block !important;
}

/* Chip */
.chip{
    background-color: transparent;
    border-radius: 10rem;
    width: fit-content;
    padding: .3rem .95rem;
    font-size: .85rem;
    margin-right: 5px;
    margin-left: 5px;
    font-weight: 400;
    box-shadow: var(--bs) !important;
}
.chip-default {
    background-color: var(--white);
    border: 1px solid var(--border);
}
.chip-danger {
    border: 1px solid var(--danger);
    color: var(--danger);
}
.chip-black {
    border: 1px solid var(--black);
    background-color: var(--black);
    color: var(--white);
}

/* Bar */
.bar {
    border: 1px solid var(--border);
    padding: .77rem 1.22rem;
    border-radius: var(--radiusdefault);
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
}
.bar-default {
    background-color: var(--white);
    color: var(--black);
}
.bar-danger {
    border: 1px solid var(--danger);
    color: var(--danger);
}
.bar-black {
    border: 1px solid var(--black);
    background-color: var(--black);
    color: var(--white);
}

/* Input */
.input {
    padding: .77rem 1.22rem;
    border-radius: var(--radiusdefault);
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    box-shadow: var(--bs) !important;
    width: 100%;
    box-sizing: border-box;
}
input::placeholder{
    color: var(--border);
}
.input-default{
    border: 1px solid var(--border);
}
.input-danger{
    border: 1px solid var(--danger);
    color: var(--danger);
}
.input-clear{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--border);
    border-radius: 0px;
}

/* Radio */
.radio div {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  justify-content: center;
  cursor: pointer;
  border-radius: .395rem !important;
}
.radio input[type="radio"] {
  /* clip: rect(0 0 0 0); */
  /* clip-path: inset(100%); */
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  border-radius: .395rem !important;
}
.radio input[type="radio"]:checked + span {
  border: 1px solid var(--black);
  z-index: 1;
  font-weight: 500;
}
.radio-label {
    display: block !important;
    min-width: 100px !important;
    border-radius: .395rem !important;
}
.radio-label span {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  display: block;
  cursor: pointer;
  background-color: #fff;
  padding: .77rem 1.22rem;
  border: 1px solid var(--border);
  color: var(--black);
  transition: background-color .3s ease;
  border-radius: .395rem !important;
}

/* File */
.file {
    border: 1px dashed #d5d5d5;
    padding: .77rem .005rem;
    width: 130px;
    box-shadow: var(--bs) !important;
    cursor: pointer !important;
    border-radius: var(--radiusdefault);
}
.file input{
	/* width: 0.1px;
	height: 0.1px; */
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
    cursor: pointer !important;
}
.file-prompt {
    font-weight: 400;
    cursor: pointer !important;
    padding: 10px 27px;
    /* border: 1px solid red; */
    font-size: .9rem;
}
.file:hover {
    cursor: pointer !important;
    background-color: var(--default);
}

/* Popper */
.popper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.popper-content {
  position: absolute; 
  border: 1px solid var(--border);
  display: none;
  background-color: #fff;
  padding: .77rem 1.22rem;
  /* z-index: 1; */
  text-align: left;
  width: fit-content;
  border-radius: var(--radiusdefault);
  overflow: auto;
  box-shadow: var(--bs) !important;
}
.popper:hover .popper-content {
  display: block;
  cursor: pointer;
}

/* Card */
.card {
    border: 1px solid var(--border);
    border-radius: var(--radiusdefault);
    padding: 1rem 1.25rem;
    text-align: left;
    overflow: auto;
    box-shadow: var(--bs);
}
.card-title {
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 10px;
}
.card-action {
    margin-top: 10px;
}

/* Dialog */
::backdrop {
    /* Background blur */
    backdrop-filter: blur(2.5px);
}
dialog {
    border: 1px solid var(--border) !important;
    box-shadow: var(--bs);
    border-radius: .575rem;
    /* padding: 1rem 1.25rem; */
    padding: 25px 35px !important;
    text-align: left;
    max-width: 350px;
}
.dialog-title {
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

/* Pagination */
.pagination .btn{
    margin: 0px !important;
    padding: 8px 11px;
    border-radius: 0px;
    border-right: .1px solid var(--border);
    font-size: .83rem !important;
}
.pagination .btn:first-child{
    border-top-left-radius: var(--radiusdefault);
    border-bottom-left-radius: var(--radiusdefault);
}
.pagination .btn:last-child{
    border-top-right-radius: var(--radiusdefault);
    border-bottom-right-radius: var(--radiusdefault);
    border-right: 1px solid var(--border);
}

/* Table */
/* Table by default have a border */
.table {
  border-collapse: collapse;
  width: 100%;
  /* box-shadow: var(--bs); */
  background-color: var(--white);
  border: 1px solid var(--border);
}

/* To remove the default border, apply a .table-borderless class */
.table-borderless {
    border: none;
}
.table tr:hover {
    background-color: var(--default);
}
.table tr, th {
    border-top: 1px solid var(--border);
    font-weight: 600;

}
.table tr, td {
    font-weight: 400;
}
.table td, th {
  /* border: 1px solid var(--border); */
  /* text-align: left; */
  padding: 8px;
  padding: .77rem 1.22rem;
}
.table tr:nth-child(even) {
  background-color: var(--default) !important;
}